body {
	background:url("image/background.png");
}
#wrapper{
	width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
   
}
#menu{
	position:relative;
	margin-left:350px;
	margin-top:-120px;
	text-align:left;
	border-radius: 4px;
	font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
	padding:10px;
}
.menu-title {
	display: inline-block;
    padding-left:25px;
    padding-right: 25px;

    color:white;
}
.menu-title:hover {
    color:grey;
}
.menu-content{
	display: none;
    position: absolute;
    background-color: white;
    color:black;
    min-width: 110px;
    margin-left:5px;
    margin-top:5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
    z-index: 1;
}
.menu-content a{
	text-decoration: none;
	color:black;
	padding:5px;
}
.menu-title:hover .menu-content{
    display:block;
    
}
div.sidebar{ 
   
}
#content{
 height:600px;
 
}
/*#test{
	text-align: center;
	margin-left:50px;
	font-size: 50px;
	line-height:100px;
	height:100px;
	width: 100px;
	border-radius: 50%;
	border:2px dashed #606060;
}
#test:hover{
	text-align: center;
	background-color: red;
	margin-top:-25px;
	margin-left:25px;
	font-size: 50px;
	line-height:150px;
	height:150px;
	width: 150px;
	border-radius: 50%;
	border:2px solid #606060;
	
}
#test:hover:after{
	content:"haha";
}*/
#footer{
	}
